
@model IEnumerable<WebApplication2.Models.Questions>
@{
        ViewBag.Title = "Test";
}

<h2 class="text-center">Какую книгу вам стоит прочесть?</h2>
<div>
   @foreach (var q in Model)
   {

    <div class="book"><h2>@q.Text</h2></div>
       foreach (var a in q.Table)
       {
        <button type="button" class="btn btn-warning btn-lg answer ">
                   
            @Ajax.ActionLink(@a.Answer,
                                 "CheckAnswer",
                                 "Test",
                                 new { id = @a.Id },
                                 new AjaxOptions()
                                 {
                                     UpdateTargetId = @a.Id.ToString()
                                 }
                             )</button>
            
                }          
                }
    
    <button type="button" class="btn btn-warning btn-lg result "></button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/ajax.js")
}