@Styles.Render("~/Content/Site.css")
@model IEnumerable<WebApplication2.Models.Questions>
@{
        ViewBag.Title = "Test";
}

<h2 class="text-center">Насколько хорошо вы знаете известные произведения?</h2>

   @foreach (var q in Model)
   {

    <div class="book"><h4>@q.Text</h4></div>

       foreach (var a in q.Table)
       {
        <button class="btn" id=@a.Id>
            @Ajax.ActionLink(@a.Answer,
                                 "CheckAnswer",
                                 "Test",
                                 new { id = @a.Id },
                                 new AjaxOptions()
                                 {
                                     UpdateTargetId = @a.Id.ToString()
                                 }
                             )

        </button>
       }


   }
<p class="text-center">
    @Html.ActionLink("На главную", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning btn-lg home" })
</p>
